.home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2b4278;
        height: 120vh;
        color: white;
}

.home-container h1{
    text-align: center;
}

.create-new-game-btn{
    border: 1px solid darkblue;
    height: 35px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.create-new-game-btn:hover{
    background-color: #0056b3;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    position: relative;
    background-color: #fff;
    color: black;
    width: 400px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    text-align: center; 
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: red;
}

.single-player-btn {
    display: inline-block;
    width: 60%;
    padding: 10px 20px;
    background-color: rgb(107, 210, 107);
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.single-player-btn:hover {
    background-color: rgb(91, 214, 91);
}

.multi-player-btn {
    display: inline-block;
    width: 60%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    transition: background-color 0.3s ease;
}

.multi-player-btn:hover {
    background-color: #0056b3;
}

.join-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  }
  
.join-game-btn, .find-game{
    border: 1px solid darkblue;
    background-color: #007bff;
    padding: 8px;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.join-game-btn a {
    text-decoration: none;
    color: white;
}

.join-game-btn:hover, .find-game:hover{
    background-color: #0056b3;
}

.join-game-input, input{
    width: 500px;
}

.join-game-input{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.join-game{
    width: 50%;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    background-color: rgb(158, 248, 248);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color ease 0.5s;

}

.join-game:hover{
    background-color: rgb(69, 213, 213);
}

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }

  .modal-content input{
    width: 76%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .search-game{
    width: 77%;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #57a4f7;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .search-game:hover{
    background-color: #007bff;
  }